<div class="col align-self-end">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 text-center myText">
                    DESIGNED BY:
                </div>

            <div class="row">
                <center>
                    <div class="col-md-5 text-center myText">
                    <img src="images/main/hmjsi.png" class="img-fluid" alt="">
                </div>
                </center>
            </div>
        
            <div class="col-md-12 text-center myText">
                HMJSI UPH MEDAN
            </div>
        </div>
        </div>
    </div>
</div>
